<footer>
    <div class="divSubscription">
        <img src="../../assets/img/banner_3.png" class="responsive-img" alt="Inscreva-se">
        <h4 class="white-text text-white title" id="title">Inscrições</h4>
        <h6 id="subtitle">Clique e se inscreva!</h6>
        <a href="https://goo.gl/forms/fd4eteGo9mmKbsID2" target="_blank"><input id="subscription" type="image" src="../../assets/img/button2.png" ></a>
        <a id="rules" src="#" target="_blank" class="N/A transparent btn ">REGULAMENTO</a>
    </div>
    <div class="row container" style="margin-bottom: 0px">
        <div class="divLogoFooter col s12 m6 l6">
            <img id="logoFooter" class="responsive-img" src="../../assets/img/uea-ocean-samsung-COLORIDAS.png">
        </div>
        <div class=" col s12 m6 l6 right-align">
            <a href="https://www.facebook.com/oceanmanaus/" target="_blank"><img class="responsive-img networks" src="../../assets/img/face.png"></a>
            <a href="https://www.instagram.com/oceanmanaus/" target="_blank"><img class="responsive-img networks" src="../../assets/img/insta.png"></a>
            <a href="https://pt.linkedin.com/company/samsung-ocean" target="_blank"><img class="responsive-img networks" src="../../assets/img/linkedin.png"></a>
        </div>
    </div>
</footer>
