<nav class="transparent z-depth-0 nav">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12">
          <img class="responsive-img" id="imgNav" src="../../assets/img/icons/logos_BRANCAS.png">
          <ul id="nav-mobile " class="right hide-on-med-and-down" >
            <li><a href="#about">Sobre o Evento</a></li>
            <li><a href="#timeline">Timeline</a></li>
            <li><a href="#informations">Data e Local</a></li>
            <li><a href="#subscription">Inscrição</a></li>
          </ul>
      </div>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li><a >Sobre o Evento</a></li>
      <li><a >Timeline</a></li>
      <li><a >Data e Local</a></li>
      <li><a >Inscrição</a></li>
    </ul>
  </div>
</nav>
